@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Permanent+Marker&display=swap');

h1,h2,h4,h5,h6{
	font-weight: 400;
	color: #f8f9fa;
	font-family: 'Permanent Marker', cursive;
}

h1{
	color: #fff;
	font-family: 'Nunito Sans', sans-serif;
}

p {
	color: #fff;
	font-family: 'Nunito Sans', sans-serif;
}

a {
	color: #fff;
	font-family: 'Nunito Sans', sans-serif;
}
